html, body {
    height: 90%;
    background-color: purple;
}



h1 {
    text-align: center;
}

.new-entry {
    
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 5%;
    width: 10%;
}

.container {
    outline: 1px solid blue;
    display: flex;
    margin: 0 auto;
    width: 55%;
    height: 100%;
    background-color: gray;
    border-radius: 10%;
    box-shadow: -9px -9px 9px black,
                9px 9px 9px black;  
    padding: 1%;       
    flex-wrap: wrap;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    padding-right: 0;
    margin-right: 5%;
    margin-left: 5%;
    outline: 1px solid red;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 3%;
    padding-top: 5%;
    width: 110%;
    justify-content: center;
}

li button {
    margin-right: 2em;
}

.checkbox {
    outline: 1px solid red;
    display: flex;
    box-sizing: border-box;
    height: 70%;
    width: 10%;
    margin-right: 5%;
    align-self:flex-start;
    align-items: center;
    justify-content: center;
    flex: 0 0 0
}

.delete {
    height: 70%;
    width: 10%;
    text-align:center;
    box-sizing: border-box;
    display: flex;
    margin-left: 2%;
    flex-shrink: 0;
    align-self:auto;
}
